@import "tailwindcss";

@layer utilities {
  /* Ocultar barra de desplazamiento horizontal */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}